.container-tasks {
  background-color: #1b1a41;
  padding: 40px;
  width: 400px;
  margin-top: 50px;
}
.form-tarefa {
  margin-top: 20px;
  width: 100%;
}

.task-btn {
  background-color: #845afc;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}
.lista-tarefa {
  margin-top: 20px;
}
