.container-tasks {
  background-color: #1b1a41;
  padding: 30px;
  width: 400px;
  margin-top: 50px;
}
.form-tarefa {
  margin-top: 20px;
  width: 100%;
}
.task-input {
  background: none;
  border: 1px solid #845afc;
  padding: 0.5rem 1rem;
  width: 265px;
  color: #fff;
}

.task-input::placeholder {
  color: #d1d1d1;
}

.task-btn {
  background-color: #845afc;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}
.lista-tarefa {
  margin-top: 20px;
}
